body {font-family: Arial, Verdana, sens-serif; font-size: 1.1em;	line-height: 1.3em; color: #444;background: #3b71b7 url(images/1024px-2002-07_Sylt_-_Groyne.jpg) fixed  repeat-x top center;}


/*Fonts*/




/* General Start */
.{ margin:0;padding:0;}
body{margin:0;padding:0;font-size:14px;line-height:1.7em;color:#2e2e2e;
background: #fff;
font-family: 'Quicksand', sans-serif;
font-weight: 700;
color: #6a7172;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: none;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
a{color:#666; text-decoration: none;}
img {border-style:none;}
h1,h2,h3,h4,h5,h6{font-size:14px; padding:0;margin:0;}
ul,dl,dt,dd {padding:0; margin:0; list-style:none;}
ol {padding:0; margin:0;list-style-type: decimal;}
li {padding:0; margin:0;}
p{margin:0; font-size:14px;	line-height:1.7em; color:#2e2e2e;}
input,select{padding:1px; margin:0; font-size:8pt;}
form{padding:0;	margin:0;}	
.clear{clear:both;display:block;visibility:hidden;line-height:0;}

/* General end */

/*Index*/
.bg{background-position: 50% 50%; min-height:100%; background-size:cover;
height: 100%;
background-size: cover;
width: 100%;
position: absolute;
top: 0;
z-index: -999;
}

.master{width:100%;}
.master .logo{
text-align: center;
}
.master .logo a{
background: url(images/logo.jpg) no-repeat 50%;
width: 100%;
height: 100%;
display: block;
text-indent: -9999px;
text-align: center;
margin: 15% 0 0;
}

header#home nav{
	top: 3%;
	left: 1.5%;
	position:absolute;}
header#home nav ul li{
	position: absolute;
	text-align: left;
	float: left;
	}
header#home nav ul>li>a.icon_menu{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	margin-top: 1px;
	line-height: .5em;
	background:#0ea3c9;
	color:#fff;
	width:40px;
	height:40px;
	display:block;
	}
header#home nav ul>li>a.icon_menu:hover{
		background: #6a7172;}
		
header#home nav ul>li>a span{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	opacity: .8;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	font-size: 150%;
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
	margin-top: .4em;
	}
header#home nav ul li ul{
	background:none;
	}
header.ui nav a:hover {
background: #6a7172;
}
header.ui nav ul li>ul li {
margin-top: 0;
width: 160px;
border-top: 1px solid rgba(106,113,114,0.2);
position:static !important;
float:none !important;
}

header.ui nav ul li.on>ul {
display: block;
}

header.ui nav ul li>ul li a {
text-align: left;
width: 140px;
display:block;
background:#0ea3c9;
padding:10px;
color:#fff;
font-weight:bold;
}

.master #hero{
	z-index:999px;
	left:0;
	right:0;
	text-align:center;
	}

.master #hero .carousel nav{
	}
.master #hero .carousel nav a{
	position: absolute;
	z-index: 999;
	bottom: 2%;
	z-index: 10;
	font-family: 'fontello';
	background: transparent;
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	color: #8dcae9;
	width: 60px;
	height: 60px;
	display: block;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
.master #hero .carousel nav ol{
		position: absolute;
		bottom: 5%;
		left:0;
		right:0;
}
.master #hero .carousel nav a:hover{
	color:#fff;
	}
	.master #hero .carousel nav a.prev{left:1%;}
	.master #hero .carousel nav a.next{right:1%;}
	
	.master #hero .carousel nav #hero_nav ol{
	margin: 0;
	padding: 0;
	}
	.master #hero .carousel nav #hero_nav ol li
	{display: inline-block;
	 margin: 0 4px;
	 }
	 .master #hero .carousel nav #hero_nav ol li.active a{
		 background-color: #fff !important;}
	.master #hero .carousel nav #hero_nav ol li a{
		position: relative;
	width: 8px;
	height: 8px;
	text-indent: -9999px;
	background: #8dcae9;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	-ms-border-radius: 200px;
	-o-border-radius: 200px;
	border-radius: 200px;}
	
	

.master #hero .carousel .swipe .panel .wrapper .headerBG{
	margin: 2% auto;
   /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.5);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";    
	height:63%;	
	width: 29%;
	-webkit-border-radius:15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	}
.master #hero .carousel .swipe .panel h1{
	padding-bottom: 12px;}
	
/*.master #hero .carousel .swipe .panel .mainBG{
	filter:alpha(opacity=50); IE
	-moz-opacity:0.5; /*MOZ , FF
	opacity:0.5; /*CSS3, FF1.5
	background:#000;
	height: 13%;
	left:0;
	right:0;
	z-index:-1;
	position:absolute;
	width: 35%;
	margin: 0 auto;
	top: 38%;
     -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
	}*/
.carousel .panel .wrapper {
	position: relative;
	z-index: 1;
}
.wrapper {
	position: relative;
	
	margin: 0 auto;
}
.carousel .panel {
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.swipe{overflow: hidden;visibility: hidden;position: relative;-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.swipe-wrap {overflow: hidden;position: relative;}
.master #hero .carousel .swipe .panel ul li{display:inline;} 
.master #hero .carousel .swipe .panel ul li a{padding-left:0.425em;}



/*Index*/





